p rafa
p rafa 2

div(class="p+")
	.mt
		lx-button(ng-click='LxDatePicker.open("datePicker")') Open date picker
	lx-date-picker(id='datePicker', ng-model='vm.datePicker.basic.date', lx-callback='vm.datePickerCallback(newDate)', lx-locale='{{ vm.locale }}', lx-max-date='vm.datePicker.basic.maxDate', lx-min-date='vm.datePicker.basic.minDate')
